<div class="container">
  <figure>
    <!-- <figcaption>Listen to Calvin Harris josh pan:</figcaption> -->
    <audio style="display: none;" #audioPlayer controls src="/assets/media/Calvin Harris - josh pan.mp3">
      Your browser does not support the
      <code>audio</code> element.
    </audio>
  </figure>
  <mat-icon>
    arrow_back
  </mat-icon>
  <mat-icon>
    fast_rewind
  </mat-icon>
  <ng-container *ngIf="!isPlaying">
    <mat-icon (click)="play()">
      play_arrow
    </mat-icon>
  </ng-container>
  <ng-container *ngIf="isPlaying">
    <mat-icon (click)="pause()">
      pause
    </mat-icon>
  </ng-container>
  <!-- </button> -->
  <!-- <button> -->
  <mat-icon (click)="forwardAudio()">
    fast_forward
  </mat-icon>
  <!-- </button> -->
  <!-- <button> -->
  <mat-icon (click)="rewindAudio()">
    arrow_forward
  </mat-icon>
</div>

<!-- [displayWith]="formatLabel" -->
<!-- tickInterval="1000" step="1000" min="0" max="100000" -->
<div class="slider_wrapper">
  <mat-slider [value]="currentTime" [max]="totalTime" thumbLabel aria-label="units"></mat-slider>
  current time: {{currentShowTime }}/total time{{totalTime}}
</div>
